<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafe.pos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesNonSdkApi="true">
        <activity android:name=".Print"></activity>
        <activity android:name=".DeviceList" />
        <activity android:name=".AddUser" />
        <activity android:name=".ManageDrink" />
        <activity android:name=".EditFood" />
        <activity android:name=".ManageFood" />
        <activity android:name=".TambahMinuman" />
        <activity android:name=".UbahPassword" />
        <activity android:name=".Profil" />
        <activity android:name=".Management" />
        <activity android:name=".AddMenu" />
        <activity android:name=".Setting" />
        <activity android:name=".History" />
        <activity android:name=".ManageMenu" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cart" />
        <activity android:name=".Food" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".Coffe" />
        <activity android:name=".EditDrink" />
        <activity android:name=".ManageUser" />
    </application>

</manifest>